In [ ]:
#to find find bank customer will leave the bank or not using ANN

In [1]:
#importing libraries

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf

In [8]:
print(tf.__version__)

2.3.0

In [10]:
#load dataset
dataset = pd.read_csv('Churn_Modelling.csv')

In [12]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [16]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [19]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
'''datapre processing tobe done on dataset
we can clearly visualize column 1,2,3,13 has no contribution ,so we will focus only on rest
of the columns'''

'datapre processing tobe done on dataset\nwe can clearly visualize column 1,2,3,13 has no contribution ,so we will focus only on rest\nof the columns'

In [59]:
x = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [60]:
print(x)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [61]:
print(y)

[1 0 1 ... 1 1 0]

In [62]:
#Taking care of missing data

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(x[:, 6:13])
x[:, 6:13] = imputer.transform(x[:, 6:13])

In [63]:
# Encoding the dependent Variable (gender)

In [64]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x[:,2] = le.fit_transform(x[:,2])

In [65]:
# female encoded to 0 and male to 1
print(x)

[[619 'France' 0 ... 1.0 1.0 101348.88]
 [608 'Spain' 0 ... 0.0 1.0 112542.58]
 [502 'France' 0 ... 1.0 0.0 113931.57]
 ...
 [709 'France' 0 ... 0.0 1.0 42085.58]
 [772 'Germany' 1 ... 1.0 0.0 92888.52]
 [792 'France' 0 ... 1.0 0.0 38190.78]]

In [66]:
#one hot encoding in geography colomun (independent variable)

In [67]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [68]:
print(x)

[[1.0 0.0 0.0 ... 1.0 1.0 101348.88]
 [0.0 0.0 1.0 ... 0.0 1.0 112542.58]
 [1.0 0.0 0.0 ... 1.0 0.0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0.0 1.0 42085.58]
 [0.0 1.0 0.0 ... 1.0 0.0 92888.52]
 [1.0 0.0 0.0 ... 1.0 0.0 38190.78]]

In [69]:
#split train and test

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [71]:
#feature scaling(compulsary in deep learning)

In [72]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [73]:
#part2 buid ANN model

In [74]:
#initaize ann

In [75]:
ann=tf.keras.models.Sequential()

In [76]:
#ADDING i/p and 1st layers

In [77]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

In [78]:
#adding 2nd hidden layers

In [79]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

In [80]:
#adding O/P layer

In [81]:
#ann.add(tf.keras.layers.Dense(units=1,activation="softmax")) for non-binary classification
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

In [82]:
#part3 training ann

In [83]:
#compile ann

In [84]:
#ann.compile(optimizer='adam',loss='category_crossentropy',metrics=['accuracy'] for non-binary classifiacation problems)
#adam is used to run stochastic gradient descent
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [85]:
#training ann on training set

In [86]:
ann.fit(X_train,y_train , batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6826 - accuracy: 0.6277
Epoch 2/100
250/250 [==============================] - 0s 519us/step - loss: 0.5360 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 534us/step - loss: 0.4562 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 496us/step - loss: 0.4354 - accuracy: 0.7995
Epoch 5/100
250/250 [==============================] - 0s 521us/step - loss: 0.4246 - accuracy: 0.8089
Epoch 6/100
250/250 [==============================] - 0s 486us/step - loss: 0.4182 - accuracy: 0.8164
Epoch 7/100
250/250 [==============================] - 0s 496us/step - loss: 0.4107 - accuracy: 0.8200
Epoch 8/100
250/250 [==============================] - 0s 510us/step - loss: 0.3999 - accuracy: 0.8275
Epoch 9/100
250/250 [==============================] - 0s 499us/step - loss: 0.3849 - accuracy: 0.8404
Epoch 10/100
250/250 [==============================] - 0s 539us/step - loss: 0.3721 - accuracy: 0.8471
Epoch 11/100
250/250 [==============================] - 0s 518us/step - loss: 0.3640 - accuracy: 0.8501
Epoch 12/100
250/250 [==============================] - 0s 494us/step - loss: 0.3594 - accuracy: 0.8520
Epoch 13/100
250/250 [==============================] - 0s 513us/step - loss: 0.3562 - accuracy: 0.8521
Epoch 14/100
250/250 [==============================] - 0s 525us/step - loss: 0.3541 - accuracy: 0.8516
Epoch 15/100
250/250 [==============================] - 0s 626us/step - loss: 0.3522 - accuracy: 0.8519
Epoch 16/100
250/250 [==============================] - 0s 542us/step - loss: 0.3508 - accuracy: 0.8531
Epoch 17/100
250/250 [==============================] - 0s 561us/step - loss: 0.3496 - accuracy: 0.8526
Epoch 18/100
250/250 [==============================] - 0s 537us/step - loss: 0.3482 - accuracy: 0.8533
Epoch 19/100
250/250 [==============================] - 0s 552us/step - loss: 0.3473 - accuracy: 0.8530
Epoch 20/100
250/250 [==============================] - 0s 630us/step - loss: 0.3465 - accuracy: 0.8533
Epoch 21/100
250/250 [==============================] - 0s 577us/step - loss: 0.3461 - accuracy: 0.8539
Epoch 22/100
250/250 [==============================] - 0s 508us/step - loss: 0.3456 - accuracy: 0.8543
Epoch 23/100
250/250 [==============================] - 0s 501us/step - loss: 0.3450 - accuracy: 0.8534
Epoch 24/100
250/250 [==============================] - 0s 576us/step - loss: 0.3445 - accuracy: 0.8545
Epoch 25/100
250/250 [==============================] - 0s 529us/step - loss: 0.3441 - accuracy: 0.8544
Epoch 26/100
250/250 [==============================] - 0s 531us/step - loss: 0.3437 - accuracy: 0.8541
Epoch 27/100
250/250 [==============================] - 0s 521us/step - loss: 0.3437 - accuracy: 0.8551
Epoch 28/100
250/250 [==============================] - 0s 523us/step - loss: 0.3434 - accuracy: 0.8537
Epoch 29/100
250/250 [==============================] - 0s 533us/step - loss: 0.3429 - accuracy: 0.8549
Epoch 30/100
250/250 [==============================] - 0s 516us/step - loss: 0.3428 - accuracy: 0.8537
Epoch 31/100
250/250 [==============================] - 0s 531us/step - loss: 0.3426 - accuracy: 0.8553
Epoch 32/100
250/250 [==============================] - 0s 524us/step - loss: 0.3425 - accuracy: 0.8543
Epoch 33/100
250/250 [==============================] - 0s 507us/step - loss: 0.3419 - accuracy: 0.8558
Epoch 34/100
250/250 [==============================] - 0s 548us/step - loss: 0.3417 - accuracy: 0.8555
Epoch 35/100
250/250 [==============================] - 0s 533us/step - loss: 0.3416 - accuracy: 0.8562
Epoch 36/100
250/250 [==============================] - 0s 588us/step - loss: 0.3413 - accuracy: 0.8558
Epoch 37/100
250/250 [==============================] - 0s 507us/step - loss: 0.3411 - accuracy: 0.8545
Epoch 38/100
250/250 [==============================] - 0s 517us/step - loss: 0.3405 - accuracy: 0.8562
Epoch 39/100
250/250 [==============================] - 0s 584us/step - loss: 0.3406 - accuracy: 0.8569
Epoch 40/100
250/250 [==============================] - 0s 532us/step - loss: 0.3403 - accuracy: 0.8562
Epoch 41/100
250/250 [==============================] - 0s 544us/step - loss: 0.3404 - accuracy: 0.8562
Epoch 42/100
250/250 [==============================] - 0s 508us/step - loss: 0.3397 - accuracy: 0.8569
Epoch 43/100
250/250 [==============================] - 0s 526us/step - loss: 0.3395 - accuracy: 0.8564
Epoch 44/100
250/250 [==============================] - 0s 543us/step - loss: 0.3397 - accuracy: 0.8584
Epoch 45/100
250/250 [==============================] - 0s 525us/step - loss: 0.3393 - accuracy: 0.8572
Epoch 46/100
250/250 [==============================] - 0s 573us/step - loss: 0.3390 - accuracy: 0.8591
Epoch 47/100
250/250 [==============================] - 0s 550us/step - loss: 0.3389 - accuracy: 0.8586
Epoch 48/100
250/250 [==============================] - 0s 557us/step - loss: 0.3390 - accuracy: 0.8586
Epoch 49/100
250/250 [==============================] - 0s 534us/step - loss: 0.3389 - accuracy: 0.8584
Epoch 50/100
250/250 [==============================] - 0s 530us/step - loss: 0.3386 - accuracy: 0.8579
Epoch 51/100
250/250 [==============================] - 0s 533us/step - loss: 0.3384 - accuracy: 0.8584
Epoch 52/100
250/250 [==============================] - 0s 531us/step - loss: 0.3383 - accuracy: 0.8589
Epoch 53/100
250/250 [==============================] - 0s 537us/step - loss: 0.3382 - accuracy: 0.8584
Epoch 54/100
250/250 [==============================] - 0s 559us/step - loss: 0.3379 - accuracy: 0.8583
Epoch 55/100
250/250 [==============================] - 0s 519us/step - loss: 0.3378 - accuracy: 0.8605
Epoch 56/100
250/250 [==============================] - 0s 540us/step - loss: 0.3378 - accuracy: 0.8590
Epoch 57/100
250/250 [==============================] - 0s 521us/step - loss: 0.3375 - accuracy: 0.8596
Epoch 58/100
250/250 [==============================] - 0s 542us/step - loss: 0.3373 - accuracy: 0.8608
Epoch 59/100
250/250 [==============================] - 0s 575us/step - loss: 0.3375 - accuracy: 0.8609
Epoch 60/100
250/250 [==============================] - 0s 663us/step - loss: 0.3373 - accuracy: 0.8590
Epoch 61/100
250/250 [==============================] - 0s 599us/step - loss: 0.3371 - accuracy: 0.8615
Epoch 62/100
250/250 [==============================] - 0s 518us/step - loss: 0.3369 - accuracy: 0.8610
Epoch 63/100
250/250 [==============================] - 0s 569us/step - loss: 0.3368 - accuracy: 0.8618
Epoch 64/100
250/250 [==============================] - 0s 531us/step - loss: 0.3370 - accuracy: 0.8611
Epoch 65/100
250/250 [==============================] - 0s 503us/step - loss: 0.3365 - accuracy: 0.8633
Epoch 66/100
250/250 [==============================] - 0s 531us/step - loss: 0.3369 - accuracy: 0.8612
Epoch 67/100
250/250 [==============================] - 0s 564us/step - loss: 0.3366 - accuracy: 0.8620
Epoch 68/100
250/250 [==============================] - 0s 583us/step - loss: 0.3363 - accuracy: 0.8611
Epoch 69/100
250/250 [==============================] - 0s 517us/step - loss: 0.3364 - accuracy: 0.8618
Epoch 70/100
250/250 [==============================] - 0s 515us/step - loss: 0.3363 - accuracy: 0.8626
Epoch 71/100
250/250 [==============================] - 0s 551us/step - loss: 0.3361 - accuracy: 0.8629
Epoch 72/100
250/250 [==============================] - 0s 578us/step - loss: 0.3359 - accuracy: 0.8605
Epoch 73/100
250/250 [==============================] - 0s 627us/step - loss: 0.3361 - accuracy: 0.8618
Epoch 74/100
250/250 [==============================] - 0s 525us/step - loss: 0.3357 - accuracy: 0.8624
Epoch 75/100
250/250 [==============================] - 0s 552us/step - loss: 0.3363 - accuracy: 0.8626
Epoch 76/100
250/250 [==============================] - 0s 519us/step - loss: 0.3359 - accuracy: 0.8621
Epoch 77/100
250/250 [==============================] - 0s 547us/step - loss: 0.3357 - accuracy: 0.8625
Epoch 78/100
250/250 [==============================] - 0s 523us/step - loss: 0.3357 - accuracy: 0.8619
Epoch 79/100

250/250 [==============================] - 0s 521us/step - loss: 0.3357 - accuracy: 0.8622
Epoch 80/100
250/250 [==============================] - 0s 526us/step - loss: 0.3352 - accuracy: 0.8626
Epoch 81/100
250/250 [==============================] - 0s 493us/step - loss: 0.3353 - accuracy: 0.8635
Epoch 82/100
250/250 [==============================] - 0s 497us/step - loss: 0.3351 - accuracy: 0.8624
Epoch 83/100
250/250 [==============================] - 0s 539us/step - loss: 0.3355 - accuracy: 0.8639
Epoch 84/100
250/250 [==============================] - 0s 503us/step - loss: 0.3351 - accuracy: 0.8648
Epoch 85/100
250/250 [==============================] - 0s 506us/step - loss: 0.3352 - accuracy: 0.8626
Epoch 86/100
250/250 [==============================] - 0s 520us/step - loss: 0.3351 - accuracy: 0.8621
Epoch 87/100
250/250 [==============================] - 0s 511us/step - loss: 0.3346 - accuracy: 0.8639
Epoch 88/100
250/250 [==============================] - 0s 504us/step - loss: 0.3345 - accuracy: 0.8625
Epoch 89/100
250/250 [==============================] - 0s 563us/step - loss: 0.3349 - accuracy: 0.8639
Epoch 90/100
250/250 [==============================] - 0s 537us/step - loss: 0.3346 - accuracy: 0.8641
Epoch 91/100
250/250 [==============================] - 0s 493us/step - loss: 0.3345 - accuracy: 0.8636
Epoch 92/100
250/250 [==============================] - 0s 497us/step - loss: 0.3345 - accuracy: 0.8631
Epoch 93/100
250/250 [==============================] - 0s 499us/step - loss: 0.3342 - accuracy: 0.8643
Epoch 94/100
250/250 [==============================] - 0s 482us/step - loss: 0.3339 - accuracy: 0.8627
Epoch 95/100
250/250 [==============================] - 0s 493us/step - loss: 0.3341 - accuracy: 0.8636
Epoch 96/100
250/250 [==============================] - 0s 482us/step - loss: 0.3340 - accuracy: 0.8634
Epoch 97/100
250/250 [==============================] - 0s 503us/step - loss: 0.3340 - accuracy: 0.8635
Epoch 98/100
250/250 [==============================] - 0s 511us/step - loss: 0.3340 - accuracy: 0.8626
Epoch 99/100
250/250 [==============================] - 0s 505us/step - loss: 0.3336 - accuracy: 0.8636
Epoch 100/100
250/250 [==============================] - 0s 521us/step - loss: 0.3338 - accuracy: 0.8635

In [95]:
'''we have to predict if customer with data as follow will leave
the bank or not.---------Geography :france ,Gender: male , Age:40 , Tenure3 years , Balance:$60000 , NumOfProducts: 2 , HasCrCard:yes , IsActiveMember: yes , 
EstimatedSalary: $50000 , Exited :(if customer will exit the bank(1 for yes , 0 for no) ?)'''
#predict(should be 2 d arry) ,1.0.0 is encoded value of france,1 is for male

'we have to predict if customer with data as follow will leave\nthe bank or not.---------Geography :france ,Gender: male , Age:40 , Tenure3 years , Balance:$60000 , NumOfProducts: 2 , HasCrCard:yes , IsActiveMember: yes , \nEstimatedSalary: $50000 , Exited :(if customer will exit the bank(1 for yes , 0 for no) ?)'

In [92]:
'''check if some scaling was applied during training stage,yes we did applied so we will same for 
single observation which we will use for prediction,we will use sc object for the same'''

'check if some scaling was applied during training stage,yes we did applied so we will same for \nsingle observation which we will use for prediction,we will use sc function for the same'

In [ ]:
#sigmoid function will return probablity ,so we can transform it as below

In [94]:
if (ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))>.5):
    print("50% chance that customer will leave")
else :
    print("customer will not leave bank ,CONGO!!")

customer will not leave bank ,CONGO!!

In [96]:
#predict the test set

In [98]:
y_pred = ann.predict(X_test)
y_pred=(y_pred>0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [100]:
'''generate confusion matrix and final accuracy of prediction if customer will 
stays in the bank or will leave the bank'''

'generate confusion matrix and final accuracy of prediction if customer will \nstays in the bank or will leave the bank'

In [101]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1529   66]
 [ 199  206]]

0.8675